{:itonami.blueprint/id "cloud-itonami-iso3166-yem"
 :itonami.blueprint/name "Independent Public-Sector Market-Entry & Procurement Compliance Service — Yemen"
 :itonami.blueprint/iso3166 "YEM"
 :itonami.blueprint/domain :public-sector/market-entry-compliance
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/governor :market-entry-compliance-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss}
